.inputBoxStyle {
    text-align: center;
    width: 18%;
    border: 0.1em solid #ebe5e5;
    border-width: 0.5px;
    padding: 20px;
    height: 18px;
}

.changeCardWidth {
    width: 96%;
    margin: 2%
}

.loginbtn {
    width: 210px;
}

.paddingForRegister {
    padding-top: 25px;
}